.drop-down-menu {
    overflow: unset;
    height: fit-content;
    position: relative;
    display: flex;
    width: 150px;
}

.drop-down-menu:hover {
    cursor: pointer;
}

.drop-down {
    background: gray;
    width: inherit;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.options {
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .2s all;
    z-index: 9999;
}

.options.open {
    max-height: 200px;
}

.options.close {
    max-height: 0;
}

.option {
    margin: 0;
    padding: 10px 20px;
    display: flex;
}