.task-section-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d4d0c0;
    height: 100%;
    overflow-y: auto;
    width: 295px;
    border-radius: 6px;
    padding: 10px;
}

.task-section-middle {
    padding: 10px 0;
}

.task-section {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    min-width: fit-content;
}

.section-title {
    margin: 0;
}

.task-section-button {}

.task-section-top {
    background: #d4d0c0;
    border-radius: 6px;
    padding: 10px;
}