.card-section{
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #d4d0c0;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    margin: 1rem;
}
.containers{
    height: 100%;
    display: flex;
}