.adding-container {
    display: flex;
    width: 100%;
    padding: 10px;
}

.adding-btn {
    margin: 10px;
    border: none;
    font-weight: 600;
}

.adding {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.adding-container:hover, .adding-btn:hover {
    cursor: pointer;
    background: gray;
}