.adding-container {
    display: flex;
    max-width: 350px;
}

.adding-btn {
    margin: 10px;
    border: none;
    font-weight: 600;
    padding: 10px;
}

.adding {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
}

.adding-container:hover, .adding-btn:hover, {
    cursor: pointer;
    background: gray;
}

.adding-task-container {
    flex-direction: column
}