.delete-container {
    background: #971209;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    min-width: 25px;
    transition-duration: .5s;
    margin: 0 10px;

}

.delete-container:hover {
    background: #bf392b;
    cursor: pointer;
}