.confirm-container {
    background: #3fa246;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    transition-duration: .5s;
    margin: 0 10px;
}

.confirm-container:hover {
    background: #007c00;
    cursor: pointer;
}