/* general */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.title, .app-title {
  margin: 0;
}

/* svg */

.svg {
  transition: .2s all ease-in-out;
}

.svg:hover {
  cursor: pointer;
  stroke: #5896ce;
}

#arrow {
  transition: .5s all;
}

#arrow.open {
  transform: rotate(90deg);
}

#arrow.close {
  transform: rotate(0deg);
}

/* menu */

/* images */

.user-img {
  border-radius: 50%;
  background: gray;
  margin-right: 5px;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: #55B1C3;
  border-radius: 10px;
  height: 20px;
}

/* forms */

.form-input:focus~.form-input-label {
  color: blue;
  transform: translateY(-10px);
  font-size: .75rem;
}

.form-input-label.valid {
  color: blue;
  transform: translateY(-10px);
  font-size: .75rem;
}

.form-input-container {
  width: fill;
  padding: 12px 0;
  position: relative;
}

.form-input {
  font-size: .9rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: solid thin black;
}

.form-input-label {
  color: gray;
  font-size: .9rem;
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  transition: .2s ease;
}

/* buttons */

.button-style {
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  background: black;
  color: white;
  height: 50px;
  width: 150px;
}